*{
    box-sizing: border-box;

}


body{
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;

}

nav a{
color: #000;
text-decoration: none;

text-transform:uppercase;
font-weight: bold;


}

ul{list-style-type:none;
margin-left:-40px;
}

nav{
    display: none;

}

.show{

    display: block;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 1rem;
    padding-right: 1rem;

}

button{
    background-color: transparent;
    border-style: none;

}

#hero{
    background-image: url("img/intro.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: #fff;
    color: #374a67;
    border-color: #fff;
    border-bottom-style:inherit;
    font-weight:bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 5px;
    border: 1px #374a67 solid;
    box-shadow: 0px 8px 6px 0px rgba(46,74,117,1);
    transition: all 1s ease;
    margin-top: 1rem;
    display: inline-block;

}

.button:hover{

    color: #fff;
    background-color: #374a67;
    border-color: #fff;
}

#rezepte{

    text-align: center;
}

.card a{
    text-decoration: none;
    color:#000;
}

.card p a{
    color: #b2b2b2;
}

.card{
    text-align: center;
}

.card img{
    width: 100%;
}
.button.button-blue{
    color: #fff;
    background-color: #374a67;
    border-color: #fff;
}

/* Animation */
.button.button-blue:hover{
    color: #374a67;
    background-color: #fff;
    border-color: #374a67;

}

.card{
    text-align: center;
    box-shadow: 0px 8px 6px 0px rgba(46,74,117,1);
    border-radius: 5px;
    /* width: 40%; */

#rezepte h2{
    text-align: center;
}

    /* okragle obramowanie kartonu, zdjecie nie chce sie do konca dopasowac, mozna to zrobic w photoshopie */
    overflow: hidden;
}
/* #rezepte{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: block;
    height: 100vh;

}

.card img{
    width: 100%;
    height: 100%;
}

}

.card p{
    text-decoration: none;
    color: black;

}

.card p a{
    color: #b2b2b2;
}

h3{
    padding: 20px;
    margin: 20px;
} */

@media (min-width: 1024px){
    nav{
        display: block;
    }
    button{
        display: none;
    }
    nav ul{
        display: flex;
    }
    nav li{
        margin-right: 16px;
        header{
            padding-left: 5%;
            padding-right: 5%;
        }
    }
}
